body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-family: cursive;
  text-align: center;
  color: white;
  font-size: 80px;
}

.container {
  margin-top: 100px;
  margin-left: 100px;
}

.container-btn {
  display: flex;
  gap: 20px;
}

.button {
  font-size: 30px;
  padding: 16px 30px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  transition-duration: 500ms;
  width: 300px;
}
.generate-btn {
  color: white;
  background-color: rgb(247, 82, 82);
}

.generate-btn:hover {
  background-color: rgba(255, 0, 0, 0.747);
}

.restart-btn {
  color: white;
  background-color: rgba(255, 153, 0, 0.89);
}

.restart-btn:hover {
  background-color: rgba(197, 119, 2, 0.89);
}

.current-total {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
}

.fail {
  color: rgb(247, 82, 82);
}

.hidden {
  display: none;
}
